<nav class="ui menu">
  {{#link-to 'index' class="item"}}
    Inicio
  {{/link-to}}
  {{#link-to 'projects' class="item"}}
    Proyectos
  {{/link-to}}
  {{#link-to 'tasks' class="item"}}
    Tareas
  {{/link-to}}
  <div class="right menu">
    <div class="item">
      {{#if session.isAuthenticated}}
        <div class="ui basic red button" {{action 'logout'}}>Logout</div>
      {{else}}
        {{#link-to 'login' class="ui basic green button"}}Login{{/link-to}}
      {{/if}}
    </div>
  </div>
</nav>

{{yield}}
